.user{
    margin: 10px;
    box-shadow: 1px 3px 3px 3px rgba(100, 100, 100, 0.3);
  
    padding: 15px;
    border-radius: 7px;
   
}

.input{
    margin: 10px;
    border-radius: 3px;
    font-weight: 600;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

span{
    font-style: italic;
    font-weight: 600;
}

.userId{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    
   
}
.userId:hover{
    transition: 0.3s;
color: rgb(255, 115, 0);
}



